@model IEnumerable<CashBlockApp.Models.Entities.Existencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAlmacen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlmacenNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaEmpleadoNavigation.CedulaEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlmacenNavigation.IdAlmacen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExistencias">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdExistencias">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExistencias">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
