@model CashBlockApp.Models.Entities.MetodoPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MetodoPago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMetodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMetodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMetodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMetodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVentaNavigation.IdVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMetodo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
