@model IEnumerable<CashBlockApp.Models.Entities.OrdenCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadSolicitada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSolicitada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.IdCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrden">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrden">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrden">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
